################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment1/EarnedValue/.vs/EarnedValue/v16
/assignment1/EarnedValue/bin/Debug/netcoreapp3.1
/assignment1/EarnedValue/obj
/assignment1/EarnedValue/.vs/EarnedValue/DesignTimeBuild
/assignment2/Correlation/.vs/Correlation/v16
/assignment2/Correlation/bin/Debug/netcoreapp3.1
/assignment2/Correlation/obj
