################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment1/EarnedValue/.vs/EarnedValue/v16
