################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment1/EarnedValue/.vs/EarnedValue/v16
/assignment1/EarnedValue/bin/Debug/netcoreapp3.1
/assignment1/EarnedValue/obj
